## Assignment Of Heart Attack Possibility  Using Logistic Regression

In [1]:

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Reading the csv file

In [18]:
flatdata = pd.read_csv('heart.csv')
flatdata

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
X = flatdata.iloc [:,0:13]# independent
y = flatdata.iloc [:,13]# dependent


X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [5]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
dtypes: float64(1), int64(12)
memory usage: 30.9 KB

In [6]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()# create object of LE
X["age"] = lb.fit_transform(X["age"])
#print (X)

X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,29,1,3,145,233,1,0,150,0,2.3,0,0,1
1,3,1,2,130,250,0,1,187,0,3.5,0,0,2
2,7,0,1,130,204,0,0,172,0,1.4,2,0,2
3,22,1,1,120,236,0,1,178,0,0.8,2,0,2
4,23,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,23,0,0,140,241,0,1,123,1,0.2,1,0,3
299,11,1,3,110,264,0,1,132,0,1.2,1,0,3
300,34,1,0,144,193,1,1,141,0,3.4,1,2,3
301,23,1,0,130,131,0,1,115,1,1.2,1,1,3
302,23,0,1,130,236,0,0,174,0,0.0,1,1,2

In [7]:
from sklearn.impute import SimpleImputer
# First create an Imputer , Stratergy means what we want to write in place of missed value
mss = SimpleImputer (missing_values = np.nan, strategy = 'mean')  
 
# Set which columns imputer should perform
mss = mss.fit (X.iloc[:,1:13])
# update values of X with new values
X.iloc[:,1:13] = mss.transform(X.iloc[:,1:13])

print(X)

     age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0     29  1.0  3.0     145.0  233.0  1.0      0.0    150.0    0.0      2.3
1      3  1.0  2.0     130.0  250.0  0.0      1.0    187.0    0.0      3.5
2      7  0.0  1.0     130.0  204.0  0.0      0.0    172.0    0.0      1.4
3     22  1.0  1.0     120.0  236.0  0.0      1.0    178.0    0.0      0.8
4     23  0.0  0.0     120.0  354.0  0.0      1.0    163.0    1.0      0.6
..   ...  ...  ...       ...    ...  ...      ...      ...    ...      ...
298   23  0.0  0.0     140.0  241.0  0.0      1.0    123.0    1.0      0.2
299   11  1.0  3.0     110.0  264.0  0.0      1.0    132.0    0.0      1.2
300   34  1.0  0.0     144.0  193.0  1.0      1.0    141.0    0.0      3.4
301   23  1.0  0.0     130.0  131.0  0.0      1.0    115.0    1.0      1.2
302   23  0.0  1.0     130.0  236.0  0.0      0.0    174.0    0.0      0.0

     slope   ca  thal
0      0.0  0.0   1.0
1      0.0  0.0   2.0
2      2.0  0.0   2.0
3      2.0  0.0   2.0
4      2.0  0.0   2.0
..     ...  ...   ...
298    1.0  0.0   3.0
299    1.0  0.0   3.0
300    1.0  2.0   3.0
301    1.0  1.0   3.0
302    1.0  1.0   2.0

[303 rows x 13 columns]

In [12]:


from sklearn.model_selection import train_test_split
#from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split (X, y, test_size = .10, random_state = 0)


#print("splitting done")
#print(X_train)		
#print(y_train)	
#print(X_test)	
X_train
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
225,36,1.0,0.0,145.0,174.0,0.0,1.0,125.0,1.0,2.6,0.0,0.0,3.0
152,30,1.0,3.0,170.0,227.0,0.0,0.0,155.0,0.0,0.6,1.0,0.0,3.0
228,25,1.0,3.0,170.0,288.0,0.0,0.0,159.0,0.0,0.2,1.0,0.0,3.0
201,26,1.0,0.0,125.0,258.0,0.0,0.0,141.0,1.0,2.8,1.0,1.0,3.0
52,28,1.0,2.0,130.0,231.0,0.0,1.0,146.0,0.0,1.8,1.0,3.0,3.0
245,14,1.0,0.0,124.0,274.0,0.0,0.0,166.0,0.0,0.5,1.0,0.0,3.0
175,6,1.0,0.0,110.0,167.0,0.0,0.0,114.0,1.0,2.0,1.0,0.0,3.0
168,29,1.0,0.0,130.0,254.0,0.0,0.0,147.0,0.0,1.4,1.0,1.0,3.0
223,22,0.0,0.0,200.0,288.0,1.0,0.0,133.0,1.0,4.0,0.0,2.0,3.0
217,29,1.0,0.0,130.0,330.0,1.0,0.0,132.0,1.0,1.8,2.0,3.0,3.0
111,23,1.0,2.0,150.0,126.0,1.0,1.0,173.0,0.0,0.2,2.0,1.0,3.0
135,15,0.0,0.0,130.0,269.0,0.0,1.0,163.0,0.0,0.0,2.0,0.0,2.0
218,31,1.0,0.0,135.0,254.0,0.0,0.0,127.0,0.0,2.8,1.0,1.0,3.0
12,15,1.0,1.0,130.0,266.0,0.0,1.0,171.0,0.0,0.6,2.0,0.0,2.0
15,16,0.0,2.0,120.0,219.0,0.0,1.0,158.0,0.0,1.6,1.0,0.0,2.0
66,17,1.0,2.0,100.0,222.0,0.0,1.0,143.0,1.0,1.2,1.0,0.0,2.0
97,18,1.0,0.0,108.0,233.0,1.0,1.0,147.0,0.0,0.1,2.0,3.0,3.0
90,14,1.0,2.0,124.0,255.0,1.0,1.0,175.0,0.0,0.0,2.0,2.0,2.0
198,28,1.0,0.0,120.0,267.0,0.0,1.0,99.0,1.0,1.8,1.0,2.0,3.0
103,8,1.0,2.0,120.0,240.0,1.0,1.0,194.0,0.0,0.8,0.0,0.0,3.0
22,8,1.0,0.0,140.0,226.0,0.0,1.0,178.0,0.0,0.0,2.0,0.0,2.0
212,5,1.0,0.0,118.0,219.0,0.0,1.0,140.0,0.0,1.2,1.0,0.0,3.0
226,28,1.0,1.0,120.0,281.0,0.0,0.0,103.0,0.0,1.4,1.0,1.0,3.0
264,20,1.0,0.0,110.0,206.0,0.0,0.0,108.0,1.0,0.0,1.0,1.0,2.0
133,7,1.0,1.0,110.0,235.0,0.0,1.0,153.0,0.0,0.0,2.0,0.0,2.0
216,28,0.0,2.0,130.0,263.0,0.0,1.0,97.0,0.0,1.2,1.0,1.0,3.0
275,18,1.0,0.0,125.0,212.0,0.0,1.0,168.0,0.0,1.0,2.0,2.0,3.0
270,12,1.0,0.0,120.0,249.0,0.0,0.0,144.0,0.0,0.8,2.0,0.0,3.0
154,5,0.0,2.0,138.0,220.0,0.0,1.0,152.0,0.0,0.0,1.0,0.0,2.0
55,18,1.0,1.0,134.0,201.0,0.0,1.0,158.0,0.0,0.8,2.0,1.0,2.0
194,26,1.0,2.0,140.0,185.0,0.0,0.0,155.0,0.0,3.0,1.0,0.0,2.0

In [13]:
from sklearn.linear_model import LogisticRegression
LRClassifier = LogisticRegression ()# object  of algorithm
LRClassifier.fit (X_train, y_train)

prediction = LRClassifier.predict (X_test)
print(prediction)
print(y_test)

[0 1 1 0 0 0 0 0 0 0 1 1 0 1 1 1 0 1 0 1 1 0 0 0 1 0 0 0 1 1 1]
225    0
152    1
228    0
201    0
52     1
245    0
175    0
168    0
223    0
217    0
111    1
135    1
218    0
12     1
15     1
66     1
97     1
90     1
198    0
103    1
22     1
212    0
226    0
264    0
133    1
216    0
275    0
270    0
154    1
55     1
194    0
Name: target, dtype: int64

C:\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [16]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_test, prediction))

0.8709677419354839